/* Reset CSS */
html{
    font-size: 62.5%;
}
body{
    font: 1.6rem 'Roboto', sans-serif;
    margin: 0;
    line-height: 1.6;
    letter-spacing: .1rem;
    width: 189.9rem;
    background: linear-gradient(to right ,RGB(0, 6, 24), RGB(200, 160, 100), RGB(0, 6, 24));
    filter: drop-shadow(0 0 0.60rem rgb(224, 231, 123));
    color: azure;
}
img{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
*{
    box-sizing: border-box;
}
h1, h2, h3, p, ul, ol, li{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-weight: normal;
}

/* Initialisation du fond de l'entête du portfolio */
header{
    color: #ffffff;
    background: linear-gradient(to right ,RGB(0, 6, 24), RGB(0, 19, 54), RGB(0, 6, 24));
}

/* Titre du portfolio */
header h1{
    text-align: center;
    position: static;
    font-weight: bolder;
}

/* Placement nom et prénom */
header section p{
    position: static;
    margin-top: -3.2rem;
    margin-left: 5rem;
    max-width: 14rem;
    padding-left: 3px;
    border: solid 1px #000000;
}

/* Gestion des boutons du menu */
header section .a_propos_de_moi{
    color: #000000;
    position: absolute;
    left: 130rem;
    top: 2rem;
    border: solid 1px #000000;
    max-width: 15rem;
    padding: 3px;
    text-decoration: none;
    animation-direction: normal;
    animation-duration: 7s;
    background-color: RGB(201, 178, 75);
}
header section .a_propos_de_moi:hover{
background-color: RGB(255, 254, 192);
}
header section .mes_projets{
    color: #000000;
    position: absolute;
    text-decoration: none;
    left: 147rem;
    top: 2rem;
    max-width: 15rem;
    padding: 3px;
    background-color: RGB(201, 178, 75);
}
header section .mes_projets:hover{
    background-color: RGB(255, 254, 192);
    }
header section .contact{
    color: #000000;
    position: absolute;
    text-decoration: none;
    left: 160rem;
    top: 2rem;
    max-width: 15rem;
    padding: 3px;
    background-color: RGB(201, 178, 75);
}
header section .contact:hover{
    background-color: RGB(255, 254, 192);
}
/* Fin gestion des boutons du menu */

/* Placement de l'image principale du portfolio */
main figure img{
    margin-left: -5.1rem;
    margin-top: -2rem;
    max-width: 105%;
}

/* Label "à propos de moi" */
main .presentation label:nth-child(1){
    margin-left: 87rem;
    border: solid 1px;
    padding: 4px;
    font-size: 2rem;
    font-weight: bold;
}

/* Texte "à propos de moi" */
main .presentation p:nth-child(2){
    text-align: center;
    margin-top: 3rem;
    border: solid 1px;
    max-width: 70%;
    margin-left: 28rem;
    position: relative;
}

/* Label "Etudes" */
main .presentation label:nth-child(3){
    position: absolute;
    text-align: center;
    padding: 3px;
    margin-left: 90.5rem;
    margin-top: 2rem;
    border: solid 1px;
    max-width: 105%;
    font-size: 2rem;
    font-weight: bold;
}

/* Ligne chronologique études */
hr{
    position: absolute;
    top: 155rem;
    left: 80rem;
    width: 30rem;
    rotate: 90deg;
    z-index: -1;
}

/* Gestion image BTS*/
main .presentation ul .BTS img{
    margin-top: 5rem;
    margin-left: 87.5rem;
    clip-path: circle(40%);
    max-width: 15rem;
}

/* Gestion texte BTS */
main .presentation ul .BTS p{
    border: none;
    position: absolute;
    top: 131.8rem;
    left: 42rem;
    max-width: 20rem;
}

/* Gestion image BAC*/
main .presentation ul .BAC img{
    margin-top: 15rem;
    margin-left: 81rem;
    max-width: 30rem;
}

/* Gestion texte BAC */
main .presentation ul .BAC p{
    border: none;
    position: absolute;
    top: 163.4rem;
    left: 76rem;
    max-width: 18rem;
}

/* Label "Compétences" */
main .presentation label:nth-child(7){
    position: absolute;
    text-align: center;
    margin-left: 87.5rem;
    margin-top: 0rem;
    border: solid 1px;
    padding: 4px;
    max-width: 105%;
    font-size: 2rem;
    font-weight: bold;
}

/* Gestion des images des langages de programmation */
main .presentation ul li img{
    max-width: 15rem;
}
main .presentation ul .HTML{
    position: absolute;
    top: 190rem;
    left: 10rem;
}
main .presentation ul .CSS img{
    margin-top: 10.2rem;
    margin-left: 40rem;
    max-width: 10.5rem;
}
main .presentation ul .JS{
    position: absolute;
    top: 190rem;
    left: 70rem;
    max-width: 5rem;
}
main .presentation ul .PHP{
    position: absolute;
    top: 194rem;
    left: 100rem;
    max-width: 5rem;
}
main .presentation ul .Java{
    position: absolute;
    top: 190rem;
    left: 130rem;
    max-width: 5rem;
}
main .presentation ul .Csharp{
    position: absolute;
    top: 190rem;
    left: 160rem;
    max-width: 5rem;
}
/* Fin gestion des images des langages de programmation */

/* Label "Mes projets" */
.projets label{
    position: absolute;
    text-align: center;
    padding: 3px;
    margin-left: 90rem;
    margin-top: 10rem;
    border: solid 1px;
    max-width: 105%;
    font-size: 2rem;
    font-weight: bold;
}

/* Images projets développement */
.projets ul .refont_design a img{
    width: 50rem;
    margin-top: 22rem;
    margin-left: 10rem;
}
.projets ul .etude_de_cas a img{
    width: 70rem;
    margin-top: -35rem;
    margin-left: 65rem;
}
.projets ul .display a img{
    width: 30rem;
    margin-top: -43rem;
    margin-left: 140rem;
}
/* Fin images projets développement */

/* Nom des projets de développement */
.projets ul .refont_design p{
    position: absolute;
    top: 257.4rem;
    left: 28rem;
}
.projets ul .etude_de_cas p{
    margin-left: 96rem;
}
.projets ul .display p{
    margin-top: -5rem;
    margin-left: 150rem;
}
/* Fin positionnement des noms des projets */

.CV{
    margin-top: 5rem;
    margin-left: 89.5rem;
    font-size: 2rem;
    font-weight: bold;
}
.CV button{
    color: #ffffff;
    margin-left: 5rem;
    background-color: RGB(0, 19, 54);
}
.CV button:hover{
    color: #000000;
    background-color: RGB(255, 254, 192);
}

/* Label contact */
main .contact label{
    position: absolute;
    top: 279rem;
    left: 94rem;
    border: solid 1px #ffffff;
    padding: 3px;
    font-size: 2rem;
    font-weight: bold;
}
main .contact ul .github img{
    max-width: 15rem;
    margin-top: 15rem;
    margin-left: 60rem;
}
main .contact ul .github p{
    margin-top: 1rem;
    margin-left: 57rem;
}
main .contact ul .mail img{
    max-width: 15rem;
    margin-top: -24.7rem;
    margin-left: 120rem;
}
main .contact ul .mail p{
    margin-top: -5rem;
    margin-left: 118rem;
}
footer{
    margin-left: 93rem;
}