/* reset css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Slab:wght@100;200;300&display=swap');

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    margin: 0;
    background-image: url(/asset/InterfaceOutil.png);
    background-repeat: no-repeat;
    background-size: 193vh;
    background-attachment: fixed;
    line-height: 1.6;
    letter-spacing: .1rem;
    height: 100vh;
    /* color: #ffffff; */
}

h1,h2,h3,p,figure,ul,ol{
    margin: 0;
    padding: 0;
    font-weight: 100;
}

*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #fff;
}
/* theme */

img.bandeau{
    position: fixed;
    top: 0;
    margin-left: 38.6vw;
    max-width: 61%;
}


h1, h3, h4, p, li{
    margin-left: 43%;
}

h1{
    text-align: center;
    margin-top: 6vh;
    font-weight: bold;
}

h3{
    font-weight: bold;
    margin-top: 3vh;
    margin-bottom: 1vh;
}

ul{
    margin-left: 9vw;
    width: 85%;
    text-align: justify;
}

img{
    margin-left: 43%;
}