/* reset css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Slab:wght@100;200;300&display=swap');

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    margin: 0;
    line-height: 1.6;
    letter-spacing: .1rem;
    background: linear-gradient(to right, RGB(0, 6, 24), RGB(200, 160, 100), RGB(0, 6, 24));
    height: 100vh;
    color: #ffffff;
}

h1,h2,h3,p,figure,ul,ol{
    margin: 0;
    padding: 0;
    font-weight: 100;
}

*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #fff;
}
/* theme */

/* Menu for moving on the site */
nav.menu{
    display: inline-block;
    position: fixed;
    top: 0px;
    left: 0rem;
    width: 98.9vw;
    height: 8rem;
    background: linear-gradient(to right ,RGB(0, 6, 24), RGB(0, 19, 54), RGB(0, 6, 24));
    color: #ffffff;
    box-shadow: 0px 5px 12px #5c5c5c;
    z-index: 1;
}

nav h1{
    color: #ffffff;
    margin-top: 0.3vh;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
}

nav h1 a{
    text-decoration: none;
    color: #ffffff;
}

nav h1 a:hover{
    color: #73a8ed;
}

nav p{
    display: block;
    margin-top: -5vh;
    margin-left: 5.5rem;
    font-weight: bold;
    font-size: larger;
    color: #ffffff;
}

/* Nav menu buttons */
nav ul{
    text-align: right;
    margin-top: -2.8rem;
}

nav ul li{
    display: inline-block;
    margin-right: .5vw;
}

nav ul li a{
    padding: 2rem;
    font-weight: 300;
    text-decoration: none;
    color: #ffffff;
}
nav ul li a:hover{
    color: #73a8ed;
}
/* End Nav menu buttons */
/* End Menu for moving on the site */

header img{
    width : 98vw;
    height : 100vh;
}

main .presentation{
    position: relative;
    top: 3vmax;
    text-align: center;
    color: #ffffff;
}

/* Titre "A propos de moi" */

main .presentation h2.a_propos{
    margin-left: 43vw;
    border: solid 1px;
    padding: 4px;
    font-size: 2rem;
    font-weight: bold;
    max-width: 25vh;
    text-align: center;
}

/* Texte "A propos de moi" */

main .presentation p.a_propos{
    text-align: center;
    margin-top: 5vh;
    margin-left: 31vw;
    border: solid 1px;
    max-width: 35%;
    padding: 1vh;
}

/* Titre "Etudes" */

main .presentation h2.etudes{
    margin-top: 10vh;
    margin-left: 43vw;
    border: solid 1px;
    padding: 4px;
    font-size: 2rem;
    font-weight: bold;
    max-width: 25vh;
    text-align: center;
}


/* Ligne chronologique études */

hr{
    position: relative;
    top: 20vh;
    left: 0vw;
    width: 30vh;
    transform: rotate(90deg);
    z-index: -1;
}

/* Gestion image BTS*/
main .presentation ul .BTS img{
    margin-top: 0vh;
    margin-left: 0vw;
    clip-path: circle(40%);
    max-width: 15vh;
}

/* Gestion texte BTS */
/* main .presentation ul .BTS p{
    margin-top: -8.5vh;
    margin-left: 35vw;
    max-width: 20rem;
} */

/* Gestion image BAC*/
main .presentation ul .BAC img{
    margin-top: 15vh;
    margin-left: 1vw;
    max-width: 30vh;
}

/* Gestion texte BAC */
/* main .presentation ul .BAC p{
    border: none;
    position: absolute;
    top: 64vh;
    left: 100vh;
    max-width: 20vh;
} */

/* Titre "Compétences" */

main section.presentation h2.competences{
    position: relative;
    text-align: center;
    top: 10vh;
    left: 43vw;
    border: solid 1px;
    max-width: 25vh;
    font-size: 2rem;
    font-weight: bold;
}


/* Gestion des images des langages de programmation */

main .presentation ul li.HTML img{
    display: block;
    margin-top: 20vh;
    margin-left: 5vw;
    max-width: 20vh;
}

main .presentation ul li.CSS img{
    display: block;
    margin-top: -20.5vh;
    margin-left: 20vw;
    max-width: 15vh;
}

main .presentation ul li.JS img{
    display: block;
    margin-top: -20vh;
    margin-left: 35vw;
    max-width: 20vh;
}

main .presentation ul li.PHP img{
    display: block;
    margin-top: -17vh;
    margin-left: 50vw;
    max-width: 30vh;
}

main .presentation ul li.Java img{
    display: block;
    margin-top: -23vh;
    margin-left: 70vw;
    max-width: 20vh;
}

main .presentation ul li.Csharp img{
    display: block;
    margin-top: -22vh;
    margin-left: 85vw;
    max-width: 18vh;
}

/* Fin gestion des images des langages de programmation */

section.projets {
    position: relative;
}

/* Titre "Mes projets" */
 .projets h2{
    margin-top: 30vh;
    margin-left: 43vw;
    border: solid 1px;
    padding: 4px;
    font-size: 2rem;
    font-weight: bold;
    max-width: 25vh;
    text-align: center;
}


/* Images projets développement */
section.projets ul{
    position: relative;
    top: 10vh;
    list-style: none;
}
.projets ul .refont_design a img{
    max-width: 30vw;
    margin-left: 2vw;
}
.projets ul .etude_de_cas a img{
    display: block;
    /* max-width: 30vh; */
    margin-left: 33vw;
    margin-top: -42vh;
}
.projets ul .projet_professionnel a img{
    display: block;
    /* max-width: 30vh; */
    margin-left: 66vw;
    margin-top: -30vh;
}
/* Fin images projets développement */


/* Nom des projets de développement */
.projets ul .refont_design p{
    display: block;
    color: #ffffff;
    text-decoration: none;
    max-width: 50vh;
    margin-top: 2vh;
    margin-left: 15vw;
}
.projets ul .etude_de_cas p{
    display: block;
    color: #ffffff;
    max-width: 50vh;
    margin-top: 2vh;
    margin-left: 47vw;
}
.projets ul .projet_professionnel p{
    display: block;
    color: #ffffff;
    max-width: 50vh;
    margin-top: 2vh;
    margin-left: 71vw;
}
/* Fin positionnement des noms des projets */

.projets ul p a{
    display: block;
    cursor: pointer;
}
/* 
.CV{
    position: relative;
}
.CV p{
    position: absolute;
    top: 8vh;
    left: 86.5vh;
}
.CV .clique{
    position: absolute;
    color: #ffffff;
    top: 12vh;
    left: 88.3vh;
    padding: 3px;
    max-width: 25vh;
    border: solid 1px #000000;
    text-decoration: none;
    background-color: RGB(0, 19, 54);
}
.CV a:hover{
    color: #000000;
    background-color: RGB(255, 254, 192);
}*/

main .contact{
    position: relative;
    margin: 0 auto;
} 


/* Titre contact */

main .contact h2{
    position: relative;
    top: 35vh;
    left: 43vw;
    border: solid 1px;
    padding: 4px;
    font-size: 2rem;
    font-weight: bold;
    max-width: 25vh;
    text-align: center;
}

main .contact ul{
    position: relative;
    top: 45vh;
}

main .contact ul .github img{
    display: block;
    max-width: 7vw;
    margin-top: 5vh;
    margin-left: 25vw;
}
main .contact ul .github p{
    margin-top: 2vh;
    margin-left: 22vw;
}
main .contact ul .mail img{
    display: block;
    max-width: 8vw;
    margin-top: -19vh;
    margin-left: 60vw;
}
main .contact ul .mail p{
    margin-top: 1vh;
    margin-left: 59vw;
}


footer{
    text-align: center;
    margin-top: 50vh;
    margin-bottom: 0;
}