/* reset css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Slab:wght@100;200;300&display=swap');

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    margin: 0;
    line-height: 1.6;
    letter-spacing: .1rem;
    background: linear-gradient(135deg, rgba(0, 6, 24), rgba(65, 202, 253)75%);
    background-attachment: fixed;
    height: 100vh;
    color: #ffffff;
}

h1,h2,h3,p,figure,ul,ol{
    margin: 0;
    padding: 0;
    font-weight: 100;
}

*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #fff;
}
/* theme */

/* Menu for moving on the site */
nav.menu{
    display: inline-block;
    position: fixed;
    top: 0px;
    left: 0rem;
    width: 98.9vw;
    height: 8rem;
    background: linear-gradient(to right ,RGB(0, 6, 24), RGB(0, 19, 54), RGB(0, 6, 24));
    color: #ffffff;
    box-shadow: 0px 5px 12px #5c5c5c;
    z-index: 1;
}

nav h1{
    color: #ffffff;
    margin-top: 0.3vh;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
}

nav h1 a{
    text-decoration: none;
    color: #ffffff;
}

nav h1 a:hover{
    color: #73a8ed;
}

nav p{
    display: block;
    margin-top: -5vh;
    margin-left: 5.5rem;
    font-weight: bold;
    font-size: larger;
    color: #ffffff;
}

/* Nav menu buttons */
nav ul{
    text-align: right;
    margin-top: -2.8rem;
}

nav ul li{
    display: inline-block;
    margin-right: .5vw;
}

nav ul li a{
    padding: 2rem;
    font-weight: 300;
    text-decoration: none;
    color: #ffffff;
}
nav ul li a:hover{
    color: #73a8ed;
}
/* End Nav menu buttons */
/* End Menu for moving on the site */

header img{
    width : 98.9vw;
    height : 100vh;
}

main .presentation{
    position: relative;
    top: 3vmax;
    text-align: center;
    color: #ffffff;
}

/* Titre "A propos de moi" */

main .presentation h2.a_propos{
    margin-left: 43vw;
    border: solid 1px;
    padding: 4px;
    font-size: 2rem;
    font-weight: bold;
    max-width: 25vh;
    text-align: center;
}

/* Texte "A propos de moi" */

main .presentation p.a_propos{
    text-align: justify;
    margin-top: 5vh;
    margin-left: 23vw;
    border: solid 1px;
    max-width: 50%;
    padding: 1vh;
}

/* Titre "Etudes" */

main .presentation h2.etudes{
    margin-top: 10vh;
    margin-left: 43vw;
    border: solid 1px;
    padding: 4px;
    font-size: 2rem;
    font-weight: bold;
    max-width: 25vh;
    text-align: center;
}


/* Ligne chronologique études */

.etudes .friseV{
    border-right: solid 1px #ffffff;
}

.etudes .friseH{
    border-bottom: solid 1px #ffffff;
}


hr{
    position: relative;
    top: 10vh;
    left: 0vw;
    width: 60vh;
    /* transform: rotate(90deg); */
    z-index: -1;
}

/* Gestion image BTS*/
.etudes td img{
    margin-top: -5vh;
    margin-left: 22vw;
    clip-path: circle(40%);
    /* max-width: 15vh; */
}

.etudes td.BAC img{
    max-width: 35vh;
}

.etudes td.BTS img{
    max-width: 16vh;
}

/* Positionnement textes frise chronologique */

.etudes .BAC p{
    margin-top: -5vh;
    margin-left: 22vw;
}

.etudes .BTS p{
    margin-top: 10vh;
}

/* Gestion texte BTS */
/* main .presentation ul .BTS p{
    margin-top: -8.5vh;
    margin-left: 35vw;
    max-width: 20rem;
} */

/* Gestion texte BAC */
/* main .presentation ul .BAC p{
    border: none;
    position: absolute;
    top: 64vh;
    left: 100vh;
    max-width: 20vh;
} */

/* Fin Ligne chronologique études */

/* Titre "Compétences" */

main section.presentation h2.competences{
    position: relative;
    text-align: center;
    top: 10vh;
    left: 43vw;
    border: solid 1px;
    max-width: 25vh;
    font-size: 2rem;
    font-weight: bold;
}


/* Gestion des images des langages de programmation */

.presentation table.competences{
    margin-top: 10vh;
}
.presentation table.competences td img{
    max-width: 20vh;
    margin: 2vw;
}

.presentation table.competences td img.CSS{
    max-width: 15vh;
}

/* Fin gestion des images des langages de programmation */

section.projets {
    position: relative;
}

/* Titre "Mes projets" */
.projets h2{
    margin-top: 30vh;
    margin-left: 43vw;
    border: solid 1px;
    padding: 4px;
    font-size: 2rem;
    font-weight: bold;
    max-width: 25vh;
    text-align: center;
}


/* Images projets développement */
section.projets table{
    position: relative;
    top: 10vh;
    list-style: none;
}

.projets tr a img{
    max-width: 30vw;
    margin: 2vh;
}
/* Fin images projets développement */


/* Nom des projets de développement */
.projets tr p{
    text-align: center;
}
/* Fin positionnement des noms des projets */


/* CSS des pages web des projets */
main.TravauxCours h2{
    background-color: rgba(34, 95, 121, 0.467);
    border: solid 2px #000000;
    text-align: center;
    margin-top: 3vh;
}

main.TravauxCours h2.premier{
    margin-top: -3vh;
}

main.TravauxCours img.imgProjet{
    margin-top: -50vh;
    margin-left: 65vw;
}

main.TravauxCours img.couleurs{
    max-width: 50vw;
    margin-top: 2vh;
    margin-left: 3vw;
}

main.TravauxCours p{
    margin-top: 5vh;
    margin-left: 3vw;
    max-width: 60vw;
}

main.TravauxCours p.typographique{
    margin-top: 1vh;
}

main.TravauxCours a{
    margin-left: 3vw;
    text-decoration: underline;
}

main.TravauxCours a:hover{
    color: #73a8ed;
}
/* Fin de la CSS des pages web des projets */


/* Titre "Mes projets de stage en entreprise" */
.projets h2:nth-child(3){
    max-width: 30vh;
}


/* Images projets de stage en entreprise */
section.projets .entreprise tr a img{
    margin: -2vh;
}


 /* Cacher l'image du milieu */
.projets tr .hidden{
    visibility: hidden;
}


/* Cacher le texte du milieu */
.projets tr p.hidden{
    visibility: hidden;
}


/* Ajouter de la hauteur aux textes par rapports aux images pour les projets de stage en entreprise */
.entreprise tr p{
    margin-top: 3vh;
}

/* .CV p{
    text-align: center;
}
.CV embed{
    border: solid 1px #b42525;
    text-decoration: none;
    max-width: 17.5vw;
    max-height: 10vh;
    text-align: center;
    margin-left: 43vw;
} */

/* Positionnement texte veille technologique */
.veilleTech h2{
    margin-top: 30vh;
    margin-left: 43vw;
    border: solid 1px;
    padding: 4px;
    font-size: 2rem;
    font-weight: bold;
    max-width: 25vh;
    text-align: center;
}

/* Positionnement image veille technologique */
.veilleTech img{
    margin-top: 3vh;
}

/* Début CSS page veille technologique */

h1.titre{
    text-align: center;
    font-weight: bold;
    margin-top: 2vh;
}

h2.thème{
    text-align: center;
}

.veille h3 {
    font-weight: bold;
    margin: 2vh;
}

.veille p{
    margin-left: 5vh;
    max-width: 50vw;
}

.veille img{
    max-width: 20%;
    margin-left: 20vw;
}
/* Fin CSS page veille technologique */

main .contact{
    position: relative;
    margin: 0 auto;
} 



/* Titre contact */

main .contact h2{
    position: relative;
    top: 3vh;
    left: 43vw;
    border: solid 1px;
    padding: 4px;
    font-size: 2rem;
    font-weight: bold;
    max-width: 25vh;
    text-align: center;
}

.contact table{
    position: relative;
    top: 5vh;
    list-style: none;
}

.contact tr img{
    max-width: 10vw;
    margin: 20vh;
}

.contact tr td p{
    margin-top: -15vh;
    margin-left: 10vw;
}


footer{
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 0;
}