/* Reset CSS */
html{ /* sélecteur propriété valeur */
    font-size: 62.5%;
    /* overflow-x: hidden; */
    max-width: 181.9vh;
}
body{
    font: 1.6rem 'Roboto', sans-serif;
    margin: 0;
    line-height: 1.6;
    letter-spacing: .1rem;
    background: linear-gradient(to right ,RGB(0, 6, 24), RGB(200, 160, 100), RGB(0, 6, 24));
    filter: drop-shadow(0 0 0.60rem rgb(224, 231, 123));
    color: azure;
}
img{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    max-width: 181.9vh;
}
*{
    box-sizing: border-box;
}
h1, h2, h3, p, ul, ol, li{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-weight: normal;
}

/* Placement de l'image principale du portfolio */
main figure img{
    margin: -1.6rem -4rem;
    position: sticky;
    z-index: -1;
}

/* Initialisation du fond de l'entête du portfolio */
header{
    color: #ffffff;
    background: linear-gradient(to right ,RGB(0, 6, 24), RGB(0, 19, 54), RGB(0, 6, 24));
    position: relative;
    max-width: 181.9vh;
}

/* Titre du portfolio */
header h1{
    position: relative;
    top: 2vh;
    left: 80vh;
    max-width: 20vh;
    font-weight: bolder;
}

/* Placement nom et prénom */
header .menu p{
    position: absolute;
    margin-top: -3.2vh;
    margin-left: 5vh;
    max-width: 20vh;
}

/* Gestion des boutons du menu */
header .menu .a_propos_de_moi{
    color: #000000;
    position: absolute;
    left: 114vh;
    top: 2vh;
    border: solid 1px #000000;
    max-width: 23vh;
    padding: 3px;
    text-decoration: none;
    background-color: RGB(201, 178, 75);
}
header .menu .a_propos_de_moi:hover{
background-color: RGB(255, 254, 192);
}
header .menu .mes_projets{
    color: #000000;
    position: absolute;
    text-decoration: none;
    left: 140vh;
    top: 2vh;
    border: solid 1px #000000;
    max-width: 15rem;
    padding: 3px;
    background-color: RGB(201, 178, 75);
}
header .menu .mes_projets:hover{
    background-color: RGB(255, 254, 192);
    }
header .menu .contact{
    color: #000000;
    position: absolute;
    text-decoration: none;
    left: 160vh;
    top: 2vh;
    border: solid 1px #000000;
    max-width: 15rem;
    padding: 3px;
    background-color: RGB(201, 178, 75);
}
header .menu .contact:hover{
    background-color: RGB(255, 254, 192);
}
/* Fin gestion des boutons du menu */

main{
    max-width: 181.9vh;
}

main .presentation{
    position: relative;
    margin: 0 auto;
}
/* Titre "à propos de moi" */
main .presentation h2:nth-child(1){
    position: absolute;
    top: 3vh;
    left: 83vh;
    border: solid 1px;
    padding: 4px;
    font-size: 2rem;
    font-weight: bold;
    max-width: 25vh;
}

/* Texte "à propos de moi" */
main .presentation p:nth-child(2){
    text-align: center;
    position: absolute;
    top: 10vh;
    left: 35vh;
    border: solid 1px;
    max-width: 120vh;
    padding: 1vh;
}

/* Titre "Etudes" */
main .presentation h2:nth-child(3){
    text-align: center;
    position: absolute;
    top: 23vh;
    left: 88vh;
    padding: 3px;
    border: solid 1px;
    max-width: 105%;
    font-size: 2vh;
    font-weight: bold;
}

/* Ligne chronologique études */
hr{
    position: absolute;
    top: 50vh;
    left: 77vh;
    width: 30vh;
    transform: rotate(90deg);
    z-index: -1;
}

/* Gestion image BTS*/
main .presentation ul .BTS img{
    margin-top: 28vh;
    margin-left: 84.4vh;
    clip-path: circle(40%);
    max-width: 15vh;
}

/* Gestion texte BTS */
main .presentation ul .BTS p{
    border: none;
    position: absolute;
    top: 32.2vh;
    left: 66vh;
    max-width: 20vh;
}

/* Gestion image BAC*/
main .presentation ul .BAC img{
    margin-top: 15vh;
    margin-left: 77.8vh;
    max-width: 30vh;
}

/* Gestion texte BAC */
main .presentation ul .BAC p{
    border: none;
    position: absolute;
    top: 64vh;
    left: 100vh;
    max-width: 20vh;
}

/* Titre "Compétences" */
main .presentation h2:nth-child(7){
    position: absolute;
    text-align: center;
    left: 85vh;
    top: 77vh;
    border: solid 1px;
    padding: 4px;
    max-width: 105%;
    font-size: 2rem;
    font-weight: bold;
}

/* Gestion des images des langages de programmation */
main .presentation ul li img{
    max-width: 15vh;
}
main .presentation ul .HTML{
    margin-top: 15vh;
    margin-left: 10vh;
    max-width: 5vh;
}
main .presentation ul .CSS img{
    margin-top: -18vh;
    margin-left: 40vh;
    max-width: 10.5vh;
}
main .presentation ul .JS{
    margin-top: -17.6vh;
    margin-left: 70vh;
    max-width: 5vh;
}
main .presentation ul .PHP{
    margin-top: -11vh;
    margin-left: 100vh;
    max-width: 5vh;
}
main .presentation ul .Java{
    margin-top: -17vh;
    margin-left: 130vh;
    max-width: 5vh;
}
main .presentation ul .Csharp{
    margin-top: -15vh;
    margin-left: 160vh;
    max-width: 5vh;
}
/* Fin gestion des images des langages de programmation */

.projet {
    position: relative;
}
/* Titre "Mes projets" */
.projets h2{
    position: absolute;
    text-align: center;
    padding: 3px;
    top: 225vh;
    left: 86vh;
    border: solid 1px;
    max-width: 105vh;
    font-size: 2vh;
    font-weight: bold;
}

/* Images projets développement */
.projets ul .refont_design a img{
    max-width: 50vh;
    margin-top: 22vh;
    margin-left: 10vh;
}
.projets ul .etude_de_cas a img{
    max-width: 70vh;
    margin-top: -55vh;
    margin-left: 65vh;
}
.projets ul .display a img{
    max-width: 30vh;
    margin-top: -55vh;
    margin-left: 140vh;
}
/* Fin images projets développement */

/* Nom des projets de développement */
.projets ul .refont_design p{
    max-width: 50vh;
    margin-top: 10vh;
    margin-left: 28vh;
}
.projets ul .etude_de_cas p{
    max-width: 50vh;
    margin-left: 96vh;
    margin-top: -5.3vh;
}
.projets ul .display p{
    max-width: 50vh;
    margin-top: -5vh;
    margin-left: 150vh;
}
/* Fin positionnement des noms des projets */

.CV{
    position: absolute;
    margin-top: 14vh;
    margin-left: 86.5vh;
    font-size: 2rem;
    font-weight: bold;
    max-width: 20vh;
}
.CV button{
    color: #ffffff;
    margin-left: 4vh;
    background-color: RGB(0, 19, 54);
}
.CV button:hover{
    color: #000000;
    background-color: RGB(255, 254, 192);
}

main .contact{
    position: relative;
    margin: 0 auto;
}
/* Titre contact */
main .contact h2{
    position: absolute;
    top: 5vh;
    left: 88.5vh;
    border: solid 1px;
    padding: 3px;
    font-size: 2rem;
    font-weight: bold;
    max-width: 20vh;
}
main .contact ul{
    position: absolute;
    top: 10vh;
}
main .contact ul .github img{
    max-width: 15vh;
    margin-top: 15vh;
    margin-left: 60vh;
}
main .contact ul .github p{
    margin-top: 1vh;
    margin-left: 57vh;
}
main .contact ul .mail img{
    max-width: 15vh;
    margin-top: -24.7vh;
    margin-left: 120vh;
}
main .contact ul .mail p{
    margin-top: -5vh;
    margin-left: 118vh;
}
footer{
    position: relative;
    top: 45vh;
    left: 87vh;
    max-width: 20vh;
}